<header id="topbar">
  <div class="contact-info">
    <a href="mailto:contact@perpetualmotionco.com"><i class="fas fa-envelope"></i>contact@perpetualmotionco.com</a>
    <a href="tel:1-303-939-4787"><i class="fas fa-phone"></i>+1 303-939-4787</a>
  </div>
  <div class="social-links">
    <a href="#" class="facebook"><i class="fab fa-facebook-square"></i></a>
    <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
    <a href="#" class="youtube"><i class="fab fa-youtube"></i></a>
  </div>
</header>